@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Raleway:ital,wght@0,400;1,200;1,300;1,600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Raleway", sans-serif;
}

.block-center {
  margin: 0 auto;
}

body {
  background-color: #6dd47e;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  min-width: 320px;
  width: 60%;
  max-width: 800px;
  min-height: 100vh;
  background-color: #293250;
  color: #ffd55a;
  padding: 1em 0;
}

.header {
  text-align: center;
}

.project-title {
  font-weight: 600;
  font-style: italic;
  font-size: 2.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.btn {
  font-size: 1.2rem;
  padding: 0.5em 0.75em;
  border: 0;
  cursor: pointer;
  transition: opacity 250ms;
  margin-top: 0.5em;
}

.btn:hover {
  opacity: 0.8;
}

.btn--generate-quotes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #e18741;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.quote-display {
  padding: 2em 0.5em;
}

.quote-container {
  margin-top: 3em;
}

.quote-genre {
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;
}

.quote-content {
  position: relative;
  font-size: 2.2rem;
  padding: 0.5em 1em;
  text-align: justify;
}

.quote-content::after,
.quote-content::before {
  position: absolute;
  content: '"';
  font-size: 5rem;
  font-family: "New Tegomin", serif;
  opacity: 0.2;
}

.quote-content::before {
  top: -1rem;
  left: -0.2rem;
}

.quote-content::after {
  bottom: -3.5rem;
}

.quote-author {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 10px;
  }
}
